<!DOCTYPE html>
<html layout:decorate="layout"
      sin
      xmlns:layout="http://www.ultraq.nz/thymeleaf/layout" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="utf-8">
    <title>Modifier technicien</title>
</head>
<body>

<div layout:fragment="content" class="row">
    <div class="col-md-10">
        <div class="card">
                <div class="card-header">Modifier technicien</div>
                <div class="card-body">
                    <form method="post" th:action="@{/admin/saveedit}">

                        <div class="form-group">
                            <input class="form-control" name="id" th:value="${technicien.id}" type="hidden">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nom d'utilisateur</label> <input
                                class="form-control" name="username" th:value="${technicien.username}"
                                type="text"> <span
                                class="text-danger" th:errors="${technicien.username}"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mot de passe</label> <input
                                class="form-control" name="password" th:value="${technicien.password}"
                                type="text"> <span
                                class="text-danger" th:errors="${technicien.password}"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">nom</label>
                            <input
                                class="form-control" name="nom" th:value="${technicien.nom}"
                                type="text"> <span
                                class="text-danger" th:errors="${technicien.nom}"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">prenom</label> <input
                                class="form-control" name="prenom" th:value="${technicien.prenom}"
                                type="text"> <span
                                class="text-danger" th:errors="${technicien.prenom}"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">cin</label> <input
                                class="form-control" name="cin" th:value="${technicien.cin}"
                                type="text"> <span
                                class="text-danger" th:errors="${technicien.cin}"></span>
                        </div>


                        <div class="form-group">
                            <label class="control-label">specialite</label>
                            <select class="form-control" name="specialite" th:field="${technicien.spec}">
                                <option th:each="spec : ${T(org.sid.entities.TypeTech).values()}"
                                        th:text="${spec}" th:value="${spec}"></option>
                            </select> <span
                                class="text-danger" th:errors="${technicien.spec}"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">adresse</label> <input
                                class="form-control" name="adresse" th:value="${technicien.adresse}"
                                type="text"> <span
                                class="text-danger" th:errors="${technicien.adresse}"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">mobile</label> <input
                                class="form-control" name="mobile" th:value="${technicien.mobile}"
                                type="text"> <span
                                th:errors="${technicien.mobile}"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">mail</label> <input
                                class="form-control" name="mail" th:value="${technicien.mail}"
                                type="text"> <span
                                class="text-danger" th:errors="${technicien.mail}"></span>
                        </div>
                        <button class="btn btn-primary" type="submit">Enregistrer</button>
                    </form>
                </div>
            </div>

        </div>

</div>
</body>
</html>