<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
xmlns:layout="http://www.ultraq.nz/thymeleaf/layout"
layout:decorate="layoutT"sin>
<head>
<meta charset="utf-8">
<title>Modifier Profile</title>
</head>
<body>
 <div layout:fragment="content1" class="row">
		<div class="col-md-12">
			<div class="card">
			
					<div class="card-header">
					<h5 class="title"> Vos informations</h5>
					<br/>
<div th:if="${msg}">
<h6 th:classappend ="${#strings.equals(flag,'error')} ? 'alert alert-danger'  : 'alert alert-success'  " th:text="${msg}"></h6>

</div></div>
					<div class="card-body">





<form th:action="@{/Technicien/saveProfile}" method="post">

<input type="hidden" name="id" th:value="${technicien.id}">




<div class="row ">
<div class="form-group col-md-3 pr-1">
<label class="control-label">nom</label>
<input class="form-control" type="text" name="nom" th:value="${technicien.nom}">
<span th:errors="${technicien.nom}" class="text-danger"></span>
</div>


<div class="form-group  col-md-3 pr-1">
<label class="control-label">prenom</label>
<input class="form-control" type="text" name="prenom" th:value="${technicien.prenom}">
<span th:errors="${technicien.prenom}" class="text-danger"></span>
</div>

<div class="form-group col-md-3 pr-1">
<label class="control-label">cin</label>
<input class="form-control" type="text" name="cin" th:value="${technicien.cin}">
<span th:errors="${technicien.cin}" class="text-danger"></span>
</div>
</div>


<div class="row">

<div class="form-group col-md-3 pr-1">
<label class="control-label">nom d'utilisateur</label>
<input class="form-control" type="text" name="username" th:value="${technicien.username}" >
<span th:errors="${technicien.username}" ></span>
</div>

<div class="form-group col-md-3 pr-1">
<label class="control-label">mail</label>
<input class="form-control" type="text" name="mail" th:value="${technicien.mail}">
<span th:errors="${technicien.mail}" class="text-danger"></span>
</div>


<div class="form-group col-md-3 pr-1">
<label class="control-label">mobile</label>
<input class="form-control" type="text" name="mobile" th:value="${technicien.mobile}">
<span th:errors="${technicien.mobile}" ></span>
</div>
</div>


<div class="row">
<div class="form-group col-md-3 pr-1">
<label class="control-label">spécialité </label>
<input class="form-control" type="text" name="spec" th:value="${technicien.spec}">

</div>

<div class="form-group col-md-3 pr-1">
<label class="control-label">date de naissance</label>
<input class="form-control" type="date" name="dateN" th:value="${technicien.dateN}">
<span th:errors="${technicien.dateN}" class="text-danger"></span>
</div>
<div class="form-group col-md-3 pr-1">
<label class="control-label ">adresse</label>
<input class="form-control" type="text" name="adresse" th:value="${technicien.adresse}">
<span th:errors="${technicien.adresse}" class="text-danger" ></span>
</div>


</div>

<div class="row">
<div class="form-group col-md-4 pr-1">
<label class="control-label">Mot de passe</label>
<input class="form-control" type="password" name="password" th:value="${technicien.password}">
<span th:errors="${technicien.password}" class="text-danger"></span>
</div>

</div>



<button type="submit" class="btn btn-primary" >save</button>
</form>
</div>

</div>
</div>

</div>
</div>
</div>
</body>
</html>