<!DOCTYPE html>
<html 	
xmlns:layout="http://www.ultraq.nz/thymeleaf/layout"
layout:decorate="layout"sin >
<head>
<meta charset="utf-8">
<title>Saisie d'un Technicien</title>
</head>
<body>

	<div layout:fragment="content" class="row">
		<div class="col-md-10">
			<div class="card">
			
					<div class="card-header"><h5 class="title">nouveau Technicien</h5></div>
					<div class="card-body">
					 
				 <form th:action="@{/admin/SaveT}" th:method="post">
				 
				 
							
								
							<div class="form-group">
								<label class="control-label">nom utilisateur</label>
								 <input class="form-control" type="text" name="username" th:value="${technicien.username}"/>
								  <span th:errors="${technicien.username}" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label class="control-label">mot de passe</label>
								 <input class="form-control" type="password" name="password" th:value="${technicien.password}"/>
								  <span th:errors="${technicien.password}" class="text-danger"></span>
							</div>
							
							<div class="form-group">
								<label class="control-label">nom</label>
								 <input class="form-control" type="text" name="nom" th:value="${technicien.nom}"/>
								  <span th:errors="${technicien.nom}" class="text-danger"></span>
							</div>
							
							
							<div class="form-group">
								<label class="control-label">prenom</label> 
								<input class="form-control" type="text" name="prenom" 	th:value="${technicien.prenom}"/> 
								<span
									th:errors="${technicien.prenom}" class="text-danger"></span>
							</div>
							
							
							<div class="form-group">
								<label class="control-label">cin</label>
								 <input class="form-control" type="text" name="cin" th:value="${technicien.cin}"/> 
								 <span
									th:errors="${technicien.cin}" class="text-danger"></span>
							</div>
							

							<div class="form-group">
								<label class="control-label">specialite</label>

								<select name="specialite" class="form-control" th:field="${technicien.spec}">
									<option th:each="spec : ${T(org.sid.entities.TypeTech).values()}"
											th:value="${spec}" th:text="${spec}"></option>
								</select>

								<span th:errors="${technicien.spec}" class="text-danger"></span>
							</div>
							
							<div class="form-group">
								<label class="control-label">adresse</label>
								 <input class="form-control" type="text" name="adresse"th:value="${technicien.adresse}"/> <span
									th:errors="${technicien.adresse}" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label class="control-label">mobile</label>
								 <input class="form-control" type="text" name="mobile"th:value="${technicien.mobile}"/> <span
									th:errors="${technicien.mobile}"></span>
							</div>
							<div class="form-group">
								<label class="control-label">mail</label> 
								<input class="form-control" type="text" name="mail" th:value="${technicien.mail}"/> <span
									th:errors="${technicien.mail}" class="text-danger"></span>
							</div>
							<button type="submit" class="btn btn-primary">Enregistrer</button>
						</form>
					
					
					
					
					</div>
				</div>

			</div>
		</div>
	
	
	
</body>
</html>